
<%- include('../components/head.ejs'); %>

<%- include('../components/header.ejs'); %>

<!-- Contents for the Add page-->
<!-- Final view page of data adding -->
<div class="container"><br>
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <h1><%= title %></h1>
            <form class="form" method="post">
                <div class="form-group">
                    <label for="nameTextField">Survey Title</label>
                    <input type="text" class="form-control" 
                    id="nameTextField"
                    placeholder="General / Academic / Statictics / Etc"
                    name="name" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="genderTextField">Process</label>
                    <input type="text" class="form-control" 
                    id="genderTextField"
                    placeholder="On-going / Expired"
                    name="gender" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="emailTextField">Email to contact</label>
                    <input type="text" class="form-control" 
                    id="emailTextField"
                    placeholder="Enter the Email Address"
                    name="email" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="question1TextField">Question 1</label>
                    <input type="text" class="form-control" 
                    id="question1TextField"
                    placeholder="Create question 1"
                    name="question1" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="question2TextField">Question 2</label>
                    <input type="text" class="form-control" 
                    id="question2TextField"
                    placeholder="Create question 2"
                    name="question2" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="question3TextField">Question 3</label>
                    <input type="text" class="form-control" 
                    id="question3TextField"
                    placeholder="Create question 3"
                    name="question3" required>
                </div>
                <br>


                <button class="btn btn-primary">
                    <i class="fas fa-edit"></i>   Submit</button>
                    <a href="/survey" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>




<%- include('../components/footer.ejs'); %>


<%- include('../components/script.ejs'); %>